<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    li {
      margin-bottom: 7px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="formInput">
      <input type="text" v-model="formUser">
      <button v-if="!editButton" @click="addUser">Add</button>
      <!-- 
        data komponen utama yang telah dipanggil bisa dikirim ulang ke komponen child
        menggunakan v-bind atau shorthand nya :nama_props
        -->
      <button v-if="editButton" @click="updateUser" :user="user">Update</button>
    </div>
    <!-- 
      data yang telah dipanggil dari komponen child bisa dikirim ulang ke komponen parent 
      menggunakan v-on atau shorthand nya @nama_event atau @nama_event($event) apabila ada data yang dikirimkan
      -->
    <user-list v-for="(user, index) in reverseUsers" :key="index" :user="user" @edit="editUser(index)"
      @delete="deleteUser(index)"></user-list>
  </div>

  <template id="list">
    <div class="usersList">
      <!-- pemanggilan data lokal yang telah dibuat pada template component -->
      {{ message }}
      <ul>
        <li>
          {{ user.name }} ||
          <!-- 
            pemanggilan data dari komponen child vue ke komponen parent objek Vue 
            menggunakan $emit('nama_event', nama data)    
            -->
          <button @click="$emit('edit')">Edit</button>
          <button @click="$emit('delete')">Delete</button>
        </li>
      </ul>
    </div>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
  <script>
    Vue.component('user-list', {
      template: '#list',
      /* 
        pemanggilan data dari komponen parent objek Vue ke komponen child
        menggunakan props dengan nama yang diinginkan, e.g: data array users menggunakan nama user
        */
      props: ['user']
      /* 
        pemanggilan data lokal pada komponen
        */
      // data() {
      //   return {
      //     message: 'komponen ini berhasil di load'
      //   }
      // }
    })

    var vm = new Vue({
      el: '#app',
      data: {
        users: [
          { name: 'Muhammad Iqbal Mubarok' },
          { name: 'Ruby Purwanti' },
          { name: 'Faqih Muhammad' }
        ],
        formUser: '',
        editButton: false,
        idSelected: null
      },
      computed: {
        reverseUsers: {
          get: function () {
            return this.users.slice().reverse()
          },
          set: function (value) {
            this.users = value.slice().reverse()
          }
        }
      },
      methods: {
        addUser: function () {
          this.users.push({ name: this.formUser })
          this.formUser = ''
        },
        editUser: function (id) {
          this.formUser = this.reverseUsers[id].name
          this.editButton = true,
            this.idSelected = id
        },
        updateUser: function () {
          this.reverseUsers[this.idSelected].name = this.formUser
          this.formUser = ''
          this.editButton = false
        },
        deleteUser: function (id) {
          let confirmation = confirm("Anda yakin?")

          if (confirmation) {
            this.reverseUsers = this.reverseUsers.filter(function (item, index) {
              return index != id
            })
          }
        }
      }
    })
  </script>
</body>

</html>