<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <style>
    body {
      margin: 30px;
    }

    .form-custom {
      background-color: rgb(173, 171, 180);
      padding: 2em;
      border-radius: 2em;
    }

    li {
      list-style: none;
      margin: 0;
    }
  </style>
</head>

<body>
  <div id="app">
    <form @submit.prevent="submitMember()" class="form-custom col-lg-4 mb-3  mx-auto">
      <p v-if="errors.length">
        <b>Please correct the following errors: </b>
      <ul class="list-group">
        <li v-for="error in errors">
          <div class="list-group-item list-group-item-danger rounded" role="alert">
            {{ error }}
          </div>
        </li>
      </ul>
      </p>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" ref="name" v-model="name"
          placeholder="nama pengguna" v-bind:disabled="command == 'upload'">
        <label for="title">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="address" name="address" ref="address" v-model="address"
          placeholder="alamat pengguna" v-bind:disabled="command == 'upload'">
        <label for="address">Address</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="no_hp" name="no_hp" ref="no_hp" v-model="no_hp"
          placeholder="nomor hape" v-bind:disabled="command == 'upload'">
        <label for="no_hp">Phone Number</label>
      </div>
      <div v-if="command == 'submit'">
        <div class="d-grid gap-2 mt-2">
          <input type="submit" value="SUBMIT" class="btn btn-primary">
        </div>
      </div>
      <div v-else-if="command == 'update'">
        <div class="d-grid gap-2 mt-2">
          <input type="button" value="UPDATE" class="btn btn-primary" v-on:click="updateMember(idEditMember)">
          <input type="button" value="CANCEL" class="btn btn-danger" v-on:click="clearForm">
        </div>
      </div>
      <div v-else-if="command == 'upload'">
        <div class="d-grid gap-2 mt-2">
          <input type="file" class="form-control" name="photo" ref="photo">
          <input type="button" value="UPLOAD" class="btn btn-primary" v-on:click="submitPhoto(idUploadPhoto)">
          <input type="button" value="CANCEL" class="btn btn-danger" v-on:click="clearForm">
        </div>
      </div>
    </form>

    <section class="col-lg-7 mx-auto">
      <table class="table table-bordered table-hover">
        <tr v-for="member of members">
          <td class="align-middle text-center">
            <img width="150"
              v-bind:src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'">
          </td>
          <td>
            <b>Name </b>: {{ member.name }} <br>
            <b>Address </b>: {{ member.address }} <br>
            <b>Phone Number </b>: {{ member.no_hp }}
          </td>
          <td class="align-middle text-center">
            <button class="btn btn-warning mb-1 mb-lg-none" v-on:click="editMember(member)">Edit</button>
            <button class="btn btn-danger mb-1 mb-lg-none" v-on:click="removeMember(member.id)">Delete</button>
            <button class="btn btn-primary mb-1 mb-lg-none" v-on:click="uploadPhoto(member)">Photo Upload</button>
          </td>
        </tr>
      </table>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        name: '',
        address: '',
        no_hp: '',
        errors: [],
        members: [],
        photoDomain: 'http://demo-api-vue.sanbercloud.com',
        command: 'submit',
        idEditMember: null,
        idUploadPhoto: null
      },
      methods: {
        validationForm: function () {
          this.errors = []

          if (this.name.length < 3) {
            this.errors.push('Name should have at least 3 characters')
            this.$refs.name.focus()
          }

          if (this.address.length < 4) {
            this.errors.push('Address should have at least 4 characters')
            this.$refs.address.focus()
          }

          if (this.no_hp.length < 12) {
            this.errors.push('Number should have at least 12 characters')
            this.$refs.no_hp.focus()
          }
        },

        clearForm: function () {
          this.name = ''
          this.address = ''
          this.no_hp = ''
          this.command = 'submit'
          this.idEditMember = null
          this.idUploadPhoto = null
        },

        submitMember: function () {
          this.validationForm()

          if (this.errors.length === 0) {
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('address', this.address)
            formData.append('no_hp', this.no_hp)

            const config = {
              method: 'POST',
              url: 'https://demo-api-vue.sanbercloud.com/api/member',
              data: formData
            }

            axios(config)
              .then((response) => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
              })
              .catch((error) => {
                console.log(error)
              })

            alert('Thank you for your data input correctly')
          }
        },

        getMembers: function () {
          const config = {
            method: 'GET',
            url: 'https://demo-api-vue.sanbercloud.com/api/member'
          }

          axios(config)
            .then((response) => {
              this.members = response.data.members
            })
            .catch((error) => {
              console.log(error)
            })
        },

        removeMember: function (id) {
          const config = {
            method: 'POST',
            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params: { _method: 'DELETE' }
          }

          axios(config)
            .then((response) => {
              this.getMembers()
              alert(response.data.message)
            })
            .catch((error) => {
              console.log(error)
            })
        },

        editMember: function (member) {
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.command = 'update'
          this.idEditMember = member.id
        },

        updateMember: function (id) {
          this.validationForm()

          if (this.errors.length === 0) {
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('address', this.address)
            formData.append('no_hp', this.no_hp)

            const config = {
              method: 'POST',
              url: `https://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params: { _method: 'PUT' },
              data: formData
            }

            axios(config)
              .then((response) => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
              })
              .catch((error) => {
                console.log(error)
              })
          }
        },

        uploadPhoto: function (member) {
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.command = 'upload'
          this.idUploadPhoto = member.id
        },

        submitPhoto: function (id) {
          let file = this.$refs.photo.files[0]

          let formData = new FormData()
          formData.append('photo_profile', file)

          const config = {
            method: 'POST',
            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
            data: formData
          }

          axios(config)
            .then((response) => {
              this.clearForm()
              this.getMembers()
              alert(response.data.message)
            })
            .catch((error) => {
              console.log(error)
            })
        }
      },
      created() {
        this.getMembers()
      }
    })
  </script>
</body>

</html>