<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button type="button" v-on:click="openForm">Open Form</button>
      <h1>{{ 'Nilai input : ' + nilai }}</h1>
      <h1>{{ 'Nilai rata - rata : ' + rata }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          nilai: 0,
          rata: 0,
        },
        methods: {
          openForm: function () {
            var hitung = 0;
            while (hitung < 10) {
              this.nilai = this.nilai + parseInt(prompt('Masukan nilai input'));
              hitung++;
              if (this.nilai >= 10) {
                this.rata = this.nilai / hitung;
                break;
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
