<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <style>
    body {
      margin-top: 15px;
      margin-left: 15px;
    }

    li {
      margin-top: 15px;
      margin-left: 15px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-if="command == 'add'">
      <input type="text" v-model="newUser" />
      <button v-on:click.prevent="addUser">add</button>
    </div>
    <div v-else="command == 'update'">
      <input type="text" v-model="newUser" />
      <button v-on:click="updateUser">update</button>
    </div>
    <li v-for="(user, index) in users" v-bind:name="user.name" v-on:remove="users.splice(index, 1)">
      {{ user.name }}
      <button v-on:click="editUser(index)">edit</button> || <button v-on:click="deleteUser(index)">delete</button>
    </li>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        newUser: '',
        command: 'add',
        users: [{ name: 'Muhammad Iqbal Mubarok' }, { name: 'Ruby Purwanti' }, { name: 'Faqih Muhammad' }],
        idUpdateUser: null
      },
      methods: {
        addUser: function () {
          this.users.push({
            name: this.newUser,
          });
          this.newUser = '';
        },
        editUser: function (id) {
          this.command = 'update';
          this.newUser = this.users[id].name;
          idUpdateUser = id
        },
        updateUser: function () {
          this.users[idUpdateUser].name = this.newUser
          this.newUser = '';
        },
        deleteUser: function (id) {
          confirm('Apakah kamu yakin?');
          this.users.splice(id, 1);
          alert('Data berhasil dihapus')
        },
      },
    });
  </script>
</body>

</html>